aside.menu-area{
    background-color: var(--dark);
    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.12),
    2px 0 15px 0 rgba(0, 0, 0, 0.09)
    ;
}

.menu a{
    display: block;
    text-decoration: none;
    color: rgb(204, 204, 204);
    padding: 35px;
    font-weight: 500;
    text-align: center;
    
    
 
}
.menu a:hover{
    background: linear-gradient(135deg, #941b1b 0%, #ee2727 100%);
    
}

